###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.1"

networks:
  default:
    external:
      name: ${HOTCRP_DOCKER_COMPOSE_SUBNET}

services:

    ${HOTCRP_DBHOST}:
      image: mysql:5.7
      command: --max_allowed_packet=104857600      # Set max_allowed_packet to 256M (or any other value)
      container_name: ${HOTCRP_DBHOST}
      working_dir: /application
      volumes:
        - .:/application
        - ${HOTCRP_LOCAL_MYSQL_DIR}:/var/lib/mysql
      environment:
        - MYSQL_ROOT_PASSWORD=${HOTCRP_DBROOTPASSWD}
        - MYSQL_DATABASE=hotcrp
        - MYSQL_USER=${HOTCRP_DBUSER}
        - MYSQL_PASSWORD=${HOTCRP_DBPASSWD}
      ports:
        - "${HOTCRP_DBPORT}:3306"
      restart: always

    ${HOTCRP_WEBHOST}:
      image: nginx:alpine
      container_name: ${HOTCRP_WEBHOST}
      working_dir: /application
      volumes:
          - .:/application
          - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "${HOTCRP_WEBPORT}:80"
       - "${HOTCRP_WEBSPORT}:443"
      # Fix dns resolver bug on alpine.
      command: /bin/sh -c "echo -e \"/ndots:0\nd\nw\nq\" | ed /etc/resolv.conf; cat /etc/resolv.conf; nginx -g \"daemon off;\""
      restart: always

    ${HOTCRP_PHPHOST}:
      build: phpdocker/php-fpm
      container_name: ${HOTCRP_PHPHOST}
      working_dir: /application
      links:
        - ${HOTCRP_DBHOST}
      ports:
        - "${HOTCRP_PHPPORT}:9000"
      volumes:
        - .:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.2/fpm/conf.d/99-overrides.ini
      restart: always

    ${HOTCRP_PHPMYADMINHOST}:
      image: phpmyadmin/phpmyadmin
      container_name: ${HOTCRP_PHPMYADMINHOST}
      working_dir: /application
      links:
        - ${HOTCRP_DBHOST}
      environment:
        - PMA_HOST=${HOTCRP_DBHOST}
        - PMA_PORT=3306
        - PMA_USER=${HOTCRP_DBROOTUSER}
        - PMA_PASSWORD=${HOTCRP_DBROOTPASSWD}
      ports:
        - "${HOTCRP_PHPMYADMINPORT}:80"
      restart: always
